:root {
  --bs-light-rgb: #ffffff !important;
  --bs-nav-links-color: #000000 !important;
  --dock-tabs-container-bg: #808080 !important;
  --bs-dropdown-link-bg-c: #cccccc !important;
  --bs-dropdown-link-hover-bg-c: #565446 !important;
}
